* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merienda", cursive;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(45deg, #38322b, #423b33);
}

#root {
    min-height: 100vh;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#page-title {
    display: block;
    padding: 60px;
    color: rgba(0, 0, 0, 0.699);
}

.container {
    /* contains the drum keys and the drum controls  */
    border-radius: 57px;
    box-shadow: 16px -16px 30px #2a2521, -16px 16px 30px #52493f;
    padding: 60px 10px;
}

#drum-machine {
    display: flex;
}

/* drum controls Css starts here  */

#drum-controls {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    padding: 2rem;
    align-self: center;
}

#display {
    /* for displaying activities messages on the machine  */
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    width: 250px;
    height: 44px;
    font-weight: bolder;
    border: 3px solid #262320;
    border-radius: 10px;
    color: #999;
    margin: 5px;
    border-radius: 40px;
    background: linear-gradient(45deg, #22201d, #292522);
    box-shadow: 6px -6px 16px #1a1816, -6px 6px 16px #322e2a;
}
/* volume slider css */
#audio-volume {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #ffd8b885;
    border-radius: 5px;
    color: #292522;
    box-shadow: 6px -6px 16px #1a1816, -6px 6px 16px #322e2a;
}

input[type="range"] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #9a905d;
}

input[type="range"]::-webkit-slider-runnable-track {
    /* -webkit-appearance: none; */
    margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    background: #434343;
    box-shadow: -80px 0 0 80px #cc9450;
}

/* end of volume slider css */

/* drum controls Css ends here  */

/* drum keys  Css starts here  */
#drum-keys {
    max-width: 500px;
    min-width: 360px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 40px;
    padding: 50px;
}
.drum-pad {
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    width: 28%;
    border: 1px solid #443c38;
    /* background: #262320; */
    color: #ffd8b885;
    margin: 5px;
    border-radius: 40px;
    background: linear-gradient(45deg, #22201d, #292522);
    box-shadow: 6px -6px 16px #1a1816, -6px 6px 16px #322e2a;
}

.drum-pad:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid #cc9450;
    transition: 0.5s;
}

/* drum keys  Css ends here  */

/* Switches css */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    box-shadow: 6px -6px 16px #1a1816, -6px 6px 16px #322e2a;
}

.switch-label {
    position: relative;
    left: 70px;
    top: 2px;
    font-size: 0.85rem;
    line-height: 1.5;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.699);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

input:checked + .slider {
    background-color: #cc9450;
}

input:focus + .slider {
    box-shadow: 0 0 1px #cc9450;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 18px;
}

.slider.round:before {
    border-radius: 40%;
}
/* Rounded sliders ends here */

/* Switches css ends here */

/* The volume slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffd8b885;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: linear-gradient(45deg, #22201d, #292522);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

/* End of volume Slider css */

footer {
    color: rgba(0, 0, 0, 0.79);
    margin: 40px 0;
    font-size: 0.85rem;
    justify-self: center;
}

/* FOR SMALLER DEVICE */
@media (max-width: 750px) {
    #root {
        min-height: 100vh;
        flex-wrap: wrap;
    }
    .container {
        max-width: 80%;
        min-width: 400px;
        padding: 60px 0px;
    }
    #drum-machine {
        flex-wrap: wrap;
        justify-content: center;
    }

    #drum-keys {
        height: 300px;
        padding: 1rem;
    }

    #drum-controls {
        height: 300px;
        padding: 2rem;
        align-self: center;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        align-content: space-around;
    }

    #drum-controls {
        max-width: 440px;
        min-width: 360px;
        height: 200px;
        padding: 1rem;
        flex-direction: row;
        align-self: center;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        align-content: space-around;
    }

    #display {
        order: 1;
    }
    .switch {
        margin: 0 15px;
    }

    .switch-label {
        position: relative;
        left: 7px;
        top: -28px;
        color: rgba(0, 0, 0, 0.699);
    }
}
